<div class="button-container">
  <button *ngIf="showAll">Show All Items</button>
  <button (click)="sortByName()">Order by Name (A-Z)</button>
  <button (click)="orderByPrice()">Order by Price (low-high)</button>
</div>
<form>
  <span>Search for items under £<input type="text" #price /></span>
  <button (click)="findItemsLess(price.value)">Search</button>
</form>

<app-all-items (editMode)="setEditMode($event)"></app-all-items>
<app-add-an-item [edit]="edit" [editId]="editId"></app-add-an-item>

<!-- (editId)="setEditId($event)" -->
