<hr />
<p #showText></p>
<div #favouriteSports>
  <p>
    I like Yoga, Pilates & Kayaking! Using ViewChild you can see my type &
    properties in the console! This is where type: ElementRef.nativeElement
    comes from. Then we can access all the properties on this value - just like
    directly using a local reference. So with ElementREF - we need
    .nativeElement!
  </p>
</div>

<button (click)="onShowText(showText)">
  Make Text Appear & learn about Element Ref in the console!
</button>
<hr />
<div *ngIf="!numberOfSports; else showAns">
  <label>How many sports do you want to generate?</label>
  <input type="text" [(ngModel)]="numberOfSports" />
</div>
<ng-template #showAns>
  <p>Here are {{ numberOfSports }} random sports</p>
  <button (click)="getRandomArray()">Shuffle</button>
  <p *ngFor="let sport of randomArray">{{ sport }}</p>
</ng-template>

<hr />
<button (click)="toggle = !toggle">Toggle Numbers</button>

<div *ngIf="toggle">
  <p
    *ngFor="let odd of oddNumbers"
    [ngClass]="{ odd: odd % 2 !== 0 }"
    [ngStyle]="{ backgroundColor: odd % 2 !== 0 ? 'green' : 'blue' }"
  >
    {{ odd }}
  </p>
</div>

<!-- This is the same as *ngIf but using our own structural directive!  -->

<div *appUnless="!toggle">
  <p
    *ngFor="let odd of oddNumbers"
    [ngClass]="{ odd: odd % 2 !== 0 }"
    [ngStyle]="{ backgroundColor: odd % 2 !== 0 ? 'green' : 'blue' }"
  >
    {{ odd }}
  </p>
</div>
<hr />
<div *ngIf="!toggle">
  <p *ngFor="let even of evenNumbers">{{ even }}</p>
</div>

<!-- The * is basically standing in for [ng-template], conditionally rendered! and the property binding to the if statement -->
<ng-template [ngIf]="!toggle">
  <p *ngFor="let even of evenNumbers">{{ even }}</p>
</ng-template>
<hr />
<label>Guess a number to see if it's a match!</label>
<input type="text" [(ngModel)]="value" />
<p>Your Value Is: {{ value }}</p>
<div [ngSwitch]="value">
  <p *ngSwitchCase="5">You matched 5</p>
  <p *ngSwitchCase="10">You matched 10</p>
  <p *ngSwitchCase="20">You matched 20</p>
  <p *ngSwitchDefault="'no match'">No match :(</p>
</div>
